Django>=5.2.5
pandas
numpy
scikit-learn
transformers
torch
python-docx
pdfplumber
tqdm
sentencepiece
sacremoses
# Dependencias para la traducción
deep-translator>=1.11.4
deepl>=1.22.0
translate>=3.6.1
langdetect>=1.0.9
# Dependencias para procesamiento de texto/web
beautifulsoup4>=4.13.5
requests>=2.32.5
lxml>=6.0.1
# Dependencias adicionales útiles
scipy>=1.16.1
PyYAML>=6.0.2
joblib>=1.5.2